<% for(i = 0; i<posts.length; i++){  %>
  <div class="well">

    <div class="media">
      <div class="media-body">
          <a href="/showPost/<%= posts[i]._id %>">
            <h4 class="media-heading">
                  <%= posts[i].post %>
             </h4>
          </a> <%= posts[i].course %>
          <p class="text-left"> <strong> <%= posts[i].condition %> </p>
          <p class="text-left">  $ <%= posts[i].price  %>   </p>
          <p class="text-left"> <%= posts[i].contact  %>  : <%= posts[i].contactInfo %>   </p>
          <p class="text-right"> By <%= posts[i].userName %> </p>
          <p class="text-right">  <%= status %> </p>
          <p class="text-center">
            <img class="media-object" src="<%= posts[i].itemPic %>" width="200" height="200">
          </p>

          <p>  Description: <%= posts[i].description %> </p>
          <p> STATUS:  <%= posts[i].interest %></p>


          <ul class="list-inline list-unstyled">
              <li><span><i class="glyphicon glyphicon-calendar"></i> <%= posts[i].createdAt %> </span></li>
              <li>|</li>
              <!--
                <span><i class="glyphicon glyphicon-comment"></i>  <%=  %></span>
                <li>|</li>
                <li>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </li>

              <li>|</li>
            -->
            <li>

              <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
            <% if (user._id.equals(posts[i].userId)) { %>
              <li>
                <a href="/deletePost/<%= posts[i]._id %>" class="btn btn-info btn-lg">
                  <span class="glyphicon glyphicon-remove-circle"></span> Remove
                </a>
              </li>
              <br>
              <a href="/editPost/<%= posts[i]._id %>" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </a>
              <% } %>
            </ul>
        </div>
      </div>
    </div>
      <% } %>
