<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
     <h1><%= post.post %></h1>
     <p class="text-right"> By <%= post.userName %> </p>
    </div>

           <p class="text-left"> <strong> <%= post.condition %> </p>
           <p class="text-left">  $ <%= post.price  %>   </p>
           <p class="text-left"> <%= post.contact  %>  : <%= post.contactInfo %>   </p>


           <p>  Description: <%= post.description %> </p>



   <% console.log("in forumPost.ejs with comments.length ="+comments.length) %>
   <% for(i = 0; i<comments.length; i++){  %>
     <style>
           .well {
               height: 50px;
               width: 100%;
               color: white;
               background-color: black;
           }
      </style>
  <body>
      <div class="well">
        <li> <a href="/showComment/<%= comments[i]._id %>">
              <%= comments[i].userName %> : </a>
              <%= comments[i].comment %> <br>
              <% if (post.userId.equals(user._id)) { %>
        <input type="checkbox" name="delete" value="<%= post._id %>">
    <% } %>

              <%= comments[i].createdAt %></\/i> <br>
         </li>
      </div>
      </body>



   <% } %>
   <br>


   <form method="post" action="/saveForumComment">
       <input type="hidden" name="postId" value="<%= post._id %>">
       <textarea name="comment"  cols="100%"></textarea><br>
       <input class="btn btn-sm btn-primary" type="submit" value="Add Comment">
   </form>


<%- include('bootfooter') -%>
