<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Choose From a Wide Variety of Books</h1>
</div>

<form method="post" action="/BookDelete">
  <input type="submit" value="delete marked">
  <ol>
    <% for(i = 0; i<posts.length; i++){  %>
      <li> <a href="/showPost/<%= posts[i]._id %>">
        <%= posts[i].userName %></a>
        <i>
          <%= posts[i].createdAt %></\/i> <br>
        </i>
        <%= posts[i].dishName %><br>
        <%= posts[i].Ingredients %><br>
        <%= posts[i].dishDescription %><br>

        <% console.dir([posts[i].userId,user._id]) %>
        <% if (posts[i].userId.equals(user._id)) { %>
          <input type="checkbox" name="delete" value="<%= posts[i]._id %>">
          <% } %>
          <pre><%= posts[i].post %></pre>

        </li>
        <% } %>
      </ol>

    </form>
    <%- include('bootfooter') -%>
