<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Post for <%= Post._id %> </h1>
    </div>
    Post: <%= Post.Post %>
    <hr>

<%- include('bootfooter') -%>
