<%- include('bootheader') -%>
<%- include('menubar') -%>
<img src="images/RideShare.png" width="80%">

<form method="post" action="/rideShare">
  <label for="Input1">Starting Point</label>
  <div class="form-row">
    <div class="col-7">
      <input type="text" class="form-control" placeholder="City" name="StartCity">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="State" name="StartState">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Zip" name="StartZip">
    </div>
  </div>

    <div class="col-12">
      <label for="Input2">Desired Destination</label>
      <input type="text" class="form-control" placeholder="Boston Logan International Airport" name="Destination">
    </div>
    <div class="form-row">
      <div class="col">
      <label for="Input2">Date of Ride</label>
      <input type="text" class="form-control" placeholder="08/19/2019">
      </div>

  <input class="btn btn-primary" type="Submit" value="Submit">
</form>
<hr>

<form method="post" action="/rideDelete">
        <input type="submit" value="delete marked">
        <ol>
        <% for(i = 0; i<posts.length; i++){  %>
            <li> <a href="/showPost/<%= posts[i]._id %>">
                  <%= posts[i].userName %></a>
                  <i>
                 <%= posts[i].createdAt %></\/i> <br>
                 </i>
                 <%= posts[i].StartCity %><br>
                 <%= posts[i].StartState %><br>
                 <%= posts[i].StartZip %><br>

                 <% console.dir([posts[i].userId,user._id]) %>
                 <% if (posts[i].userId.equals(user._id)) { %>
                     <input type="checkbox" name="delete" value="<%= posts[i]._id %>">
                 <% } %>
                 <pre><%= posts[i].post %></pre>

             </li>
        <% } %>
        </ol>

    </form>




<%- include('bootfooter') -%>
