<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1> Your rideshare request has been posted! You will receive an email if you find a match. </h1>
</div>
<p> Starting Point: <%= RideShare.StartCity %> <%= RideShare.StateState %> <%= RideShare.StartZip%>
</p>



<%- include('bootfooter') -%>
