<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>My Posts</h1>
</div>

<img src="<%= profile.profilePicURL%>" width="200">
<hr>



<%- include('booklist') -%>


<p> Last updated on <%= profile.lastUpdate %> </p>


<%- include('bootfooter') -%>
